<h1><%= @place["name"] %></h1>

<ul>
  <% for entry in @entries %>

  <h2><%= entry["title"] %></h2>

<ul>

    <li>  
      <%= entry["posted_on"] %>

    <li> 
      <%= entry["description"] %>
      
</ul>   
     
    </li>
  <% end %>
</ul>

<p>
  <a href="/entries/new?place_id=<%= @place["id"]%>">New Entry</a>
</p>




<p>
  <a href="/places">Back to all Places</a>
</p>
